@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #003B95;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  .font-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -0.025em;
  }
}
